<Application resource-id="easyexplorer">
  <AppID>WHOCARES_GENIEAPP_011029</AppID>
  <Category>APP_CAT_NETWORK_OTHER</Category>   
  <Name>易有云</Name>
  <Author>bbis</Author>
  <Version>20190529.234308</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL>http://localhost:8899/static/config.html</ConfigURL>
  <InfoURL>http://koolshare.cn/thread-129199-1-1.html</InfoURL>
  <LaunchURL>http://localhost:8899/</LaunchURL>
  <ReservePort>8899</ReservePort>
  <DebianPackage>easyexplorer</DebianPackage>
  <ServiceName>fvapp-easyexplorer.service</ServiceName><!-- no service required -->
  <Description lang="zh-cn">易有云是一款私人云工具，跨设备支持多平台之间管理、备份文件。易有云自适应网络，支持文件快速备份、媒体在线浏览、实时同步等功能。</Description>
</Application>