[Unit]
Description=Service for EasyExplorer 
After=apache2.service readynasd.service

[Service]
Type=forking
User=admin
Group=admin
ExecStart=/etc/init.d/eexplorer start
ExecStop=/etc/init.d/eexplorer stop
PIDFile=/var/run/easy-explorer.pid
Restart=always

[Install]
WantedBy=multi-user.target
